@media (max-width: 750px) {
    body {
        font-size: 12px;
    }

    .pokedex{
        flex-direction: column;
    }
    
    .pokemon-card{
        max-width: 300px;
    }

    .pokemon-card .image-card{
        width: 200px;
        height: 200px;
    }

    .pokemon-card .info-card{
        padding: 60px 30px 30px;
        margin-top: -50px;
    }

    .pokemon-card .info-card .info{
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .pokemon-card .info-card h3 {
        font-size: 16px;
    }

    .listage{
        max-width: 300px;
    }

    .listage ul{
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    .listage .pokemon{
        width: 140px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: 0;
        border-radius: 8px;
    }

    .listage .pokemon span {
        padding-right: 5px;
    }
}