body{
    font-family: 'Poppins', sans-serif;
}

main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 44, 44);
    flex-direction: column;
}

footer{
    flex-direction: column;
    color: #fff;
}

.pokedex{
    display:  flex;
    gap: 30px;
    padding: 10px 0 100px 0;
}